<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSEBNI TRENER</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="../static/img/logo.png" alt="Osebni trener">
                    <h2>OSEBNI TRENER</h2>
                </div>
            </div>

            <div class="sidebar">
                <a href="home">
                    <span class="material-symbols-sharp">grid_view</span>
                    <h3>Domov</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">tips_and_updates</span>
                    <h3>Tips</h3>
                    <span class="message-count">26</span>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">battery_charging_full</span>
                    <h3>Readiness</h3>
                </a>
                <a href="food">
                    <span class="material-symbols-sharp">restaurant</span>
                    <h3>Hrana</h3>
                </a>
                <a href="activity">
                    <span class="material-symbols-sharp">fitness_center</span>
                    <h3>Vadba</h3>
                <a href="test">
                        <span class="material-symbols-sharp">settings</span>
                        <h3>Nastavitve</h3>
                    </a>
            </div>

        </aside>
        <main>
            {{!base}}
        </main>
    </div>
</body>

</html>