% rebase("osnova.html")

<h1 class="title">
  Urejanje
</h1>

<form method="POST">
    <label>
        Ime:
        <input type="text" name="ime" value="{{ uporabnik.ime }}">
    </label>
    <label>
        Priimek:
        <input type="text" name="priimek" value="{{ uporabnik.priimek }}">
    </label>
    <label>
        Datum rojstva:
        <input type="date" name="datum rojstva" value="{{ uporabnik.datum_rojstva }}">
    </label>
    <label>
        Teza:
        <input type="integer" name="teza" value="{{ uporabnik.teza }}">
    </label>
    <label>
        Uporabnisko ime:
        <input type="text" name="uporabnisko ime" value="{{ uporabnik.uporabnisko_ime }}">
    </label>
    <label>
        Visina:
        <input type="text" name="visina" value="{{ uporabnik.visina }}">
    </label>
    <label>
        Geslo:
        <input type="varchar(100)" name="geslo" value="{{ uporabnik.geslo }}">
    </label>
    <label>
        Email:
        <input type="email" name="email" value="{{ uporabnik.email }}">
    </label>
    <label>
        Spol:
        <input type="spol" name="smallint" value="{{ uporabnik.spol }}">
    </label>
    <input type="submit" >
</form>

<h1 class="title">
    Moje tarče:
</h1>
<div>
    % for u in uporabnik.dobi_moje_tarce():
        <p>{{ u.email }}</p>
    % end
</div>

<ul>
    % for up in vsi_uporabniki:
    <li>Začni s sledenjem:
        <a href="/sledi/{{ uporabnik.uid }}/{{ up.uid }}">
            {{up.email}}</a></li>
    % end
</ul>

{{ uporabnik.dobi_sledilce() }}

