% rebase('base.html')
<!-- Import custom CSS file -->
<link rel="stylesheet" href="../static/css/style_pages.css">

<!-- Form for adding a new exercise entry -->
<form method="POST", action="/info", class="pure-form pure-form-stacked">
        <legend style = "margin: 30px">Izberi hranilo</legend>
        <div class="pure-u-1 pure-u-md-1-3">
            <label for="multi-state">Preveri katera hrana ima največ tega hranila</label>
            <select id="vrsta_obroka" class="pure-input-1-2", name="hranilo" style = "margin-top: 25px">
                
                <option value ="vitamin_a_IU">vitamin A</option>
                <option value = "vitamin_b6_mg">vitamin B6</option>
                <option value ="vitamin_b12_mcg">vitamin B12</option>
                <option value = "vitamin_c_mg">vitamin C</option>
                <option value = "vitamin_d_IU">vitamin D</option>
                <option value = "vitamin_e_IU">vitamin E</option>
                <option value = "vitamin_k_mcg">vitamin K</option>
                <option value = "magnesium_mg">magnezij</option>
                <option value = "calcium_mg">kalcij</option>
                <option value = "sodium_mg">natrij</option>
                <option value = "potassium_mg">kalij</option>
                <option value = "zink_mg">cink</option>
                <option value = "fiber_g">vlaknine</option>
                <option value = "carbohydrate_g">ogljikovi hidrati</option>
                <option value = "protein_g">proteini</option>
                <option value = "iron_mg">železo</option>
                <option value = "calories">kalorije</option>
            </select>
        </div>
        <button type="submit" class="pure-button pure-button-primary" style = "margin-top: 15px">Pošlji</button>
</form>
