% rebase('base.html')
<title>Info</title>
<!-- Import custom CSS file -->
<link rel="stylesheet" href="../static/css/style_pages.css">
<style>
    .containnn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color-light);
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 1000px;
        margin: 20rem;
        padding: 100px;
        text-align: center;
    }
    .dropbtn {
      background-color: var(--butty);
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      border-radius: 10px;
    }
    
    .dropdown {
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      overflow-y: scroll;
      max-height: 300px;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: lightblue}
</style>

  
<div class ="containnn">    
    <h1 style="margin-right:20px">Preveri katera hrana ima največ tega hranila</h1>
    <br>
    <div class="dropdown">
        <button class="dropbtn">Hranila</button>
        <div class="dropdown-content">
        <a href= "info/vitamin_a_IU">vitamin A</a>
        <a href= "info/vitamin_b6_mg">vitmain B6</a>
        <a href= "info/vitamin_b12_mcg">vitamin B12</a>
        <a href= "info/vitamin_c_mg">vitmain C</a>
        <a href= "info/vitamin_d_IU">vitmain D</a>
        <a href= "info/vitamin_e_IU">vitamin E</a>
        <a href= "info/vitamin_k_mcg">vitamin K</a>
        <a href= "info/magnesium_mg">magnezij</a>
        <a href= "info/calcium_mg">kalcij</a>
        <a href= "info/sodium_mg">natrij</a>
        <a href= "info/potassium_mg">kalij</a>
        <a href= "info/zink_mg">cink</a>
        <a href= "info/fiber_g">vlaknine</a>
        <a href= "info/carbohydrate_g">ogljikovi hidrati</a>
        <a href= "info/protein_g">proteini</a>
        <a href= "info/iron_mg">železo</a>
        <a href= "info/calories">kalorije</a>
        </div>
        
    </div>
</div>
