% rebase('base.html')
<style>
    .body{
        margin-left: 30px;
    }

    .title_card{
        height: 90%;
        overflow-x: 10px;
    }
    table {
      border-collapse: collapse;
      width: 90%;
      margin-left: auto;
       margin-right: auto;
       margin-top: 50px;
    overflow: auto;
    }
    
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      color: var(--text-color)
    
    }
    p{
        color: var(--text-color)
    }
    tr:hover {background-color: var(--);}
    </style>

<body>
    
BLA BLA
    </body>
    </html>