% rebase('base.html')
<style>
    .body{
        margin-left: 30px;
    }

    .title_card{
        height: 90%;
        overflow-x: 10px;
    }
    table {
      border-collapse: collapse;
      width: 90%;
      margin-left: auto;
       margin-right: auto;
       margin-top: 50px;
    overflow: auto;
    }
    
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      color: var(--text-color)
    
    }
    p{
        color: var(--text-color)
    }
    tr:hover {background-color: var(--);}
    </style>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<body>
    
        <div class = "title_card">
            <h2>{{translation}}</h2>
            <p>10 najbolj nasičenih živil s tem hranilom na 100g</p>
            <table class="sortable">
        <tr>
            <th>Hrana </th>
            <th>Količina na 100g</th>
        </tr>
        % for x in data:
        <tr class ="item">
            <td>{{x[0]}} </td>
            <td>{{x[1]}} {{hranilo.split("_")[-1]}}</td>
        </tr>
        % end
        </table>
        </div>
</body>




