% rebase('osnova.html')

<h1 class="title">
    Login
</h1>

<form method="POST" action="/login">
    <label>
          Ime:
          <input type="text" name="ime" value="mail">
      </label>
    <label>
          Priimek:
          <input type="text" name="priimek" value="ime">
      </label>
    <label>
          Datum rojstva:
          <input type="date" name="datum rojstva" value="priimek">
      </label>
    <label>
          Teza:
          <input type="integer" name="teza" value="teza">
      </label>
    <label>
          Uporabnisko ime:
          <input type="text" name="uporabnisko ime" value="uporabnisko_ime">
      </label>
    <label>
          Visina:
          <input type="text" name="visina" value="visina">
      </label>
    <label>
          Geslo:
          <input type="varchar(100)" name="geslo" value="geslo">
      </label>
    <label>
          Email:
          <input type="email" name="email" value="spol">
      </label>

    <input type="submit">
</form>